
.our-gallery{
    padding: 4rem 7%;
    /* padding-bottom: 7%; */
    /* background: #2D033B; */
    background: #2B3467;
}
.our-gallery h1{
    font-size: 30px;
    text-align: center;
    /* color: #FFBABA; */
    color: #BAD7E9;
    margin-bottom: 20px;
    padding-bottom: 4%;
    text-decoration: underline;
    font-size: 50px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.inner-gallery{
    flex: 1 1 300px;
}
.inner-gallery img{
    width: 80%;
    height: 250px;
    object-fit: cover;
   transition: 1s;
}
.inner-gallery img:hover{
    transform: scale(1.1) rotate(20deg);
    border-radius: 15px;
}