:root {
    --primary-color: #313bac;
}

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.nav_container {
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav_container a {
    text-decoration: none;
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #313bac;
}

.nav__list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.nav__list li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
}

.nav__list li div {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    margin-bottom: 5px;
}

.nav__list li a {
    color: black;
    text-decoration: none;
    flex-direction: column;

    text-transform: uppercase;
    font-weight: 500;

    transition: all 0.3s ease-in-out;
}

.nav__list li a:hover {
    color: var(--primary-color);
}

.contact_section {
    /* width: 100%; */
    margin-left: 35%;
    width: 50%;
    position: relative;


    /* margin-right:50%; */
    /* width: 50%; */
    /* align-items: center; */
    /* text-align: center; */
}

.contact_section div {
    /* width: 60%; */
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


input {
    padding: 0.95rem;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    color: var(--primary-color);
    outline: none;
    /* size: 5%; */
}

textarea {
    padding: 0.95rem;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    color: var(--primary-color);
    outline: none;
    /* height: 180px; */

}

.section__title {
    text-align: center;
}

.btn {
    color: #ffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 7px;
    padding: 10px;
    /* align-items: center; */
    /* align-content: center; */
    /* align-self: center; */
    margin-left: 26%;
}

.footer__bg {
    background-color: #313bac;
}

.footer__container {
    /* width: 100%; */
    height: 100px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #313bac; */


}

.footer__copy {
    text-align: center;
    color: #ffff;
    background-color: #313bac;
}

.footer__container i {
    font-size: 2rem;
    padding: 30px;
    text-decoration: none;
    color: #ffff;
}